numba
numpy~=1.23.5
torch~=2.4.1
tqdm~=4.67.1
more-itertools
tiktoken
triton>=2.0.0;platform_machine=="x86_64" and sys_platform=="linux" or sys_platform=="linux2"

argparse~=1.4.0
omegaconf~=2.3.0
transformers~=4.46.3
torchaudio~=2.4.1
soundfile~=0.12.1
pandas~=2.0.3
scikit-learn~=1.2.2
librosa~=0.10.2.post1
setuptools~=68.0.0